<p-card>
  <ul role="list" class="divide-y divide-neutral-500/30">
    @for (item of list(); track $index) {
      <li class="flex items-center gap-x-4 py-5">
        @if (item.avatarSrc) {
          <img
            class="size-12 flex-none rounded-full"
            [class.grayscale]="item.killed"
            [src]="item.avatarSrc"
            [alt]="item.id"
          />
        } @else {
          <avvvatars
            [class.grayscale]="item.killed"
            borderColor="firebrick"
            [value]="item.name"
            [border]="true"
            [size]="45"
          />
        }
        <div class="min-w-0">
          <p class="text-sm/6 font-semibold" [class.line-through]="item.killed">
            {{ item.displayedName }}
          </p>
          @if (item.basicInitiative) {
            <p class="mt-1 truncate text-xs/5 text-gray-500">
              Base Initiative: {{ item.basicInitiative }}
            </p>
          }
        </div>

        <div class="ml-auto mr-6 flex items-center gap-4">
          <p class="mr-8 text-2xl">
            {{ item.totalInitiative }}
          </p>

          <p-button
            [severity]="item.killed ? 'secondary' : 'primary'"
            (click)="item.toggleKilled()"
            [outlined]="true"
            size="small"
          >
            <it-icon name="Swords" />
          </p-button>

          <p-button
            [disabled]="item.type === 'player'"
            (click)="removeItem(item)"
            [outlined]="true"
            severity="danger"
            size="small"
          >
            <it-icon name="Trash" />
          </p-button>
        </div>
      </li>
    }
  </ul>
</p-card>
