<form [formGroup]="form">
  <div class="flex flex-col gap-2">
    <label for="name">Enemy name</label>
    <input formControlName="name" pInputText id="name" required />
  </div>

  <div class="mt-4 flex flex-col gap-2">
    <label for="basicInitiative">Enemy initiative</label>
    <p-input-number
      formControlName="basicInitiative"
      id="basicInitiative"
      [max]="100"
      [min]="0"
      required
    />
  </div>
</form>

<div class="mt-6 flex justify-end gap-4">
  <p-button
    (onClick)="save({ withQueue: false })"
    [disabled]="!form.valid"
    [outlined]="true"
    label="Save"
  />
  <p-button
    (onClick)="save({ withQueue: true })"
    label="Save & add to queue"
    [disabled]="!form.valid"
  />
</div>
