@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Metamorphous';
  src: url('/assets/fonts/Metamorphous-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Metamorphous', sans-serif;
}
